nav {
    background-color: #4A4A4A;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li {
    display: flex;
    flex-direction: column;
}

li a{
    text-decoration: none;
}

li p{
    color: #D4AF37;
    text-align: center;
}


li img{
    height: 100px;
}