
<div class="nombrePersona">
  
  
  @if (mostrarFormulario) {
    <form [formGroup]="nombrePersona" (ngSubmit)="onSubmit()">
      
      <label for="name"></label>
      <input type="text" id="name" formControlName="name" placeholder="Coloque su nombre" required>
      
      <button type="submit">Aceptar</button>
    </form>
  }@else {
  <p class="Bienvenido">Bienvenido </p><p class="nombre">{{ nombreMostrado }} </p>

  <p class="reinos"> al Juego de los 7 Reinos</p>

  <p class="resumen">Conocé a los integrantes de todas las familias, o envianos un cuervo con el mensaje que quieras. No te demores,</p>

  <p class="winter">WINTER IS COMING!!</p>
  

  }  
</div>
