*{
    color: white;
    
}

.nombrePersona {
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    margin-top: 20px;
}

button{
    margin: 20px;
    padding: 5px;
    background-color: #4A4A4A;
    border: none;
    cursor: pointer;
}