<h1>Personajes</h1>

<div class="characters">
    @for(character of characters; track character.id){
        <div class="character">
            <div class="image">     
                <img [src]="character.imageUrl" 
                alt="imagen de {{character.fullName}}"> 
            </div>
            <div class="info">
                <h2> {{character.fullName}} </h2>
                <h3> Title: </h3><p>{{character.title}} </p>
                <h3> Family: </h3> <p>{{character.family}} </p>
            </div>
        </div>
    }
</div>

