

h1{
    text-align: center;
    padding: 15px;
    background-color: #4A4A4A;
    color: #E8E9EB;
}

.characters{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    gap: 20px;
    padding: 20px 0; 
    margin: auto;
    justify-content: center; 
    align-content: center;
    background-color: #4A4A4A ;
    
}

.character{
    padding: 1rem;
    background-color: #A9A9A9;
    border-radius: 10px;
    text-align: center;
    height: 400px;
}

h4{
    margin-top: 10px;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 100px;
}

.image{
    width: 100%;
    height: 50%;
    padding-bottom: 20px;
}

