*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    
}
body{
    background-color: #4A4A4A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
